<section>
    <nav id="451qa_nav_hdr" class="nav">
        <ul>
            <li style="cursor:pointer;">
                <div class="category-toggle" ng-click="toggleNav()"> 
                    <i class="fa fa-bars">
                    </i> 
                    <span id="451_lbl_curcat" class="category-toggle" ng-bind-html="currentCategory.Name || '  {{'Categories' | r | xlat}}'">
                    </span>
                </div>
            </li>
            <li class="pull-right">
                <div style="display: inline;" ng-show="currentCategory.SortOptions.length > 0">                
                    <label style="display: inline;">{{'Sort by: ' | r | xlat}}</label>
                        <select class="alt-form-control" ng-options="option.SortValue as (option.Display | xlat) for option in currentCategory.SortOptions" ng-model="sort"><option value=""></option></select>
                    <!--<i class="fa fa-sort"/>-->
                </div>
                <a href="search">
                    <span><i class="fa fa-search text-primary"></i></span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <aside class="col-md-3" ng-if="navStatus.visible">
            <div class="panel panel-default panel-nav">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{'Category List' | r | xlat}}
                    </h3>
                </div>
                <nav class="nav 451qa_sidenav panel-body">
                    <ul>
                        <li class="451_cat_item" ng-repeat="node in tree" ng-class="{'active': isInPath(node.Name)}">
                            <a ng-href="catalog/{{node.InteropID}}" ng-bind-html="node.Name"></a>
                            <ul ng-if="node.SubCategories" ng-show="isInPath(node.InteropID) || subInPath(node.ShowCat)">
                                <li class="451_cat_item" ng-repeat="subCat in node.SubCategories">
                                    <a ng-class="{'active': subInPath(node.ShowCat)}" ng-href="catalog/{{subCat.InteropID}}" ng-bind-html="subCat.Name"></a>
                                    <ul ng-if="subCat.SubCategories" ng-show="isInPath(subCat.InteropID) || subInPath(subCat.ShowCat)">
                                        <li class="451_cat_item" ng-repeat="subCatTwo in subCat.SubCategories">
                                            <a ng-class="{'active': subInPath(node.ShowCat)}" ng-href="catalog/{{subCatTwo.InteropID}}" ng-bind-html="subCatTwo.Name"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            

</aside>
        <div ng-class="{ 'col-md-9': navStatus.visible, 'col-md-12': !navStatus.visible }" >

            <categorylistview></categorylistview>

            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>

            <productlistview></productlistview>

        </div>
    </div>
</section>

