<header class="header navbar navbar-inner hidden-xs">
    <nav tolerance='20' offset='200' class="navbar navbar-default" role="navigation">
        <section>
            <div class="container">
                <ul class="nav navbar-nav pull-left">
                    <!--<li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                        <a href back-step class="back">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>-->
                    <li>
                    <a href="catalog" style="padding: 10px">
                            <img src="https://www.four51.com/Images/Company/85821dc4a062499b9de0e1f456ae204d.png">                    
                     </a>
                    </li>
                    <li class="products" style="padding-top: 8px; padding bottom: 5px;" >
                        <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Products' | rc | xlat}}</span>
                        </a>
                    </li>
                           <li class="order" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" >
                        <a id="451qa_order_link" href="contact">
                            <i class="fa fa-envelope"></i>
                            <span class="hidden-xs">{{'Contact Us' | r | xlat}}</span>
                        </a>
                    </li>
                            <li class="order" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" ">
                        <a id="451qa_order_link" href="admin">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Admin' | r | xlat}}</span>
                        </a>
                    </li>
                    <li class="report"  style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer' && user.Permissions.contains('AdvancedReporting')" >
                        <a id="451qa_order_link" href="reports">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="hidden-xs">{{'Reports' | r | xlat}}</span>
                        </a>
                    </li>
                    <li class="faq" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" ">
                        <a id="451qa_order_link" href="#">
                            <i class="fa fa-question"></i>
                            <span class="hidden-xs">{{'FAQ' | r | xlat}}</span>
                        </a>
                    </li>
                    <li class="tradeshow visible-lg" ng-click="toggletrade=!toggletrade" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" ">
                        <a id="451qa_order_link">
                            <i class="fa fa-table"></i>
                            <span class="hidden-xs">{{'Tradeshow' | r | xlat}}</span>
                        </a>
                            <div class="idiv animated fadeIn" ng-show="toggletrade">
                                 <iframe src="https://my.kitbuilder.redsharkgroup.com/CARU/Home.aspx" style="height: 600px; width: 1030px; z-index:99; border: 2px solid black;"></iframe>
                            </div>
                    </li>
                    <li>
                    <contentmodal></contentmodal>
                    </li>

                            <li ng-show="user.Type!='TempCustomer'" class="logout" style="padding-top: 8px; padding bottom: 5px;"> 
                                <a href="#"  class="451_btn_logout" ng-click="Logout()">
                                    <i class="fa fa-power-off"></i>
                                    <span class="hidden-xs">{{'Log Out' | r | xlat}}</span>
                                </a>
                            </li>
                            <li ng-if="AppConst.debug">
                                <a href="#" ng-click="Clear()">
                                    <i class="fa fa-archive"></i>
                                    <span class="text-nav">Clear Cache</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="cart" ng-class="{'active': isActive(['cart', 'checkout'])}">
                        <a id="451qa_cart_link" ng-show="cartCount && user.CurrentOrderID" class="cart" href="cart">
                            <span ng-bind="cartCount" class="badge"></span>
                            <i class="fa fa-shopping-cart"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
    
    
    
    <!--<nav class="dropdown-mega">
        <a class="dropdown-toggle text-center" data-toggle="dropdown">
            <i class="fa fa-angle-down text-primary"></i>
        </a>
        <ul class="451qa_topnav dropdown-menu" >
            <categorytree tree='tree' current='currentCategory' />
        </ul>
    </nav>-->
</header>

<header class="header navbar navbar-inner hidden-sm hidden-md hidden-lg">
    <nav class="navbar" role="navigation">
        <ul class="nav navbar-nav pull-left">
            <li >
                <a href="catalog" style="padding: 10px">
                    <img src="https://www.four51.com/Images/Company/85821dc4a062499b9de0e1f456ae204d.png">                    
                </a>
            </li>
        </ul>
        <div class="accordion" ng-init="isCollapsed = true">
            <a ng-click="isCollapsed = !isCollapsed" ng-class="{'active': !isCollapsed, '': isCollapsed}">
                <span><i class="fa fa-bars barsnav"></i></span>
            </a>
        </div>
    </nav>
    <div class="col-xs-12 col-collapse" collapse="isCollapsed">
        <ul class="nav">
            <li class="products" style="padding-top: 8px; padding bottom: 5px;" >
                <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                    <i class="fa fa-home"></i>
                    <span>{{'Products' | rc | xlat}}</span>
                </a>
            </li>
            <li class="order" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" >
                <a id="451qa_order_link" href="contact">
                    <i class="fa fa-envelope"></i>
                    <span>{{'Contact Us' | r | xlat}}</span>
                </a>
            </li>
            <li class="order" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" ">
                <a id="451qa_order_link" href="admin">
                    <i class="fa fa-cog"></i>
                    <span>{{'Admin' | r | xlat}}</span>
                </a>
            </li>
            <li class="report"  style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer' && user.Permissions.contains('AdvancedReporting')" >
                <a id="451qa_order_link" href="reports">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>{{'Reports' | r | xlat}}</span>
                </a>
            </li>
            <li class="faq" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" ">
                <a id="451qa_order_link" href="#">
                    <i class="fa fa-question"></i>
                    <span>{{'FAQ' | r | xlat}}</span>
                </a>
            </li>
            <!--<li class="tradeshow" style="padding-top: 8px; padding bottom: 5px;" ng-if="user.Type == 'Customer'" ">
                <a id="451qa_order_link" href="#">
                    <i class="fa fa-table"></i>
                    <span>{{'Tradeshow' | r | xlat}}</span>
                </a>
            </li>-->
                <li ng-show="user.Type!='TempCustomer'" class="logout" style="padding-top: 8px; padding bottom: 5px;"> 
                    <a href="#"  class="451_btn_logout" ng-click="Logout()">
                        <i class="fa fa-power-off"></i>
                        <span>{{'Log Out' | r | xlat}}</span>
                    </a>
                </li>
                <li ng-if="AppConst.debug">
                    <a href="#" ng-click="Clear()">
                        <i class="fa fa-archive"></i>
                        <span>Clear Cache</span>
                    </a>
                </li>
        </ul>
    </div>
    
</header>