<div class="row contact-request">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
        <form name="email_Send" ng-submit="sendEmail(EmailDetails)">
            <div class="row">
                <div class="view-form-icon">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input type="text" name="name" required class="form-control" tabindex="1" ng-model="EmailDetails.Name" />
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="view-form-icon">
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="email" name="email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z0-9._]+\.[a-z.]{2,5}$/" class="form-control" tabindex="2" ng-model="EmailDetails.Email" />
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="view-form-icon">
                    <div class="col-md-12">
                        <label>Subject</label>
                        <input type="text" name="subject" required class="form-control" tabindex="3" ng-model="EmailDetails.Subject" />
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Comments or Questions</label>
                    <textarea class="form-control" name="comments" required tabindex="4" ng-model="EmailDetails.CommentsQuestions"></textarea>
                </div>
            </div>
            <br />
            <!--<div class="row view-error-message" ng-show="showErrors">
                <span class="error" ng-show="email_Send.name.$invalid">Please enter your name.<br /></span>
                <span class="error" ng-show="email_Send.email.$invalid && !email_Send.email.$error.pattern">Please enter your email address.<br /></span>
                <span class="error" ng-show="email_Send.email.$error.pattern">Please enter a valid email address.<br /></span>
                <span class="error" ng-show="email_Send.subject.$invalid">Please enter a subject.<br /></span>
                <span class="error" ng-show="email_Send.comments.$invalid">Please enter comments or questions.</span>

            </div>-->
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn" type="submit">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div>